<h2>Log in</h2>

<form action="/session" method="POST">
  <%= auth_token %>
  <label>
    Username:
    <input type="text" name="session[username]">
  </label>
  <label>
    Password:
    <input type="password" name="session[password]">
  </label>
  <input type="submit" value="log in">
</form>

<br>
<label>
  <%= button_to "Sign Up", new_user_url, method: :get%>
</label>

<% content_for :footer do %>
  <p>
    This is the page to login
  </p>
<% end %>
